@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(150px,.25fr) 1fr;
    grid-template-rows: minmax(220px,.3fr) 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "lang ip"
        "lang rev";
}

#lang-container {
    grid-area: lang;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;

    button {
        margin: 20px 0;
        padding: 10px 15px;
        font-size: 2.2rem;
        border: solid 2px;
        border-radius: 14px;
        width: 150px;
        word-break: break-all;
        cursor: pointer;
        background-color: white;
        transition: background-color .2s ease, color .2s ease;
        
        &[language=python] {
            color: #bcd145;
            border-color: #bcd145;
            &:hover {
                color: white;
                background-color: #bcd145;
            }
            &.click {
                color: white;
                background-color: #bcd145;
            }
        }
        &[language=php] {
            color: #6f4f94;
            border-color: #6f4f94;
            &:hover {
                color: white;
                background-color: #6f4f94;
            }
            &.click {
                color: white;
                background-color: #6f4f94;
            }
        }
        &[language=bash] {
            color: #1b1b1b;
            border-color: #1b1b1b;
            &:hover {
                color: white;
                background-color: #1b1b1b;
            }
            &.click {
                color: white;
                background-color: #1b1b1b;
            }
        }
        &[language=netcat] {
            color: #2b3466;
            border-color: #2b3466;
            &:hover {
                color: white;
                background-color: #2b3466;
            }
            &.click {
                color: white;
                background-color: #2b3466;
            }
        }
        &[language=lua] {
            color: #0b1c7a;
            border-color: #0b1c7a;
            &:hover {
                color: white;
                background-color: #0b1c7a;
            }
            &.click {
                color: white;
                background-color: #142275;
            }
        }
    }
}


#input-container {
    grid-area: ip;

    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 10px;

        &:nth-child(2) {
            margin-top: 20px;
            color: #56bb40;
            font-weight: 600;
            display: none;
        }
    }
}

input {
    margin: 10px;
    font-size: 1.6rem;
    width: 300px;

    border: solid 2px;
    border-radius: 10px;
    padding: 5px 10px;
}

#output {
    margin-top: 4rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 80%;

    pre {
        white-space: inherit;
    }
    code {
        cursor: pointer;
        margin: 10px;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 10px;
        word-break: break-all;

        &:hover {
            background-color: #a8a8a8;

        }
    }
}